.filters {
	display: inline-block;
	font-weight: bold;
}

.-filter {
	border: 1px solid $pigeon-gray;
	color: darken($pigeon-gray, 10%);
	background-color: $white;
	font-size: $larger-font;
	display: inline-block;
	padding: 0.5em 0.6em 0.4em 0.5em;
	font-style: italic;
	margin: 0 .2em;
	@include border-radius(4px);
	@include clickable;

	&.-active, &:hover {
		color: $white;
		border: 1px solid $white;
		background-color: $business-blue;
	}
}

