
// Colors 
$dove-gray: hsl(0, 0%, 96.1%);
$pigeon-gray: hsl(0, 0%, 80%);
$gandalf-gray: hsl(0, 0%, 50%);
$wm-orange: hsl(36, 98.4%, 48.8%);
$white: hsl(0, 0%, 100%);
$business-blue: hsl(198, 60.5%, 49.5%);
$bright-green: #4db54d;

// Sizes
$larger-font: 1.1em;
$large-font: 1.3em;
